{% extends '@DarkroomApp/Chemistry/layout.html.twig' %}

{% block body %}


<div class="ui grid centered">

    <!-- List of unit categories -->
    <div class="six wide column">
        <table class="ui striped table">
            <caption><h3>Unit's category list</h3></caption>
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in model %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <a class="delete-confirm" href={{ path('darkroom_app_chemistry_unitcategory_delete', {id: item.id}) }}>
                            <i class="minus square icon"></i>
                        </a>
                        <a class="" href={{ path('darkroom_app_chemistry_unitcategory_index_1', {id: item.id}) }}>
                            <i class="edit icon"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Form -->
    <div class="height wide column">
        <h3>New category</h3>
        {{ form(form) }}
    </div>

</div>

{% endblock %}