<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Darkroom{% endblock %}</title>
    {% block styles %}
        {% if app.environment == 'prod' %}
            <!-- prod:styles.css -->
<link rel="stylesheet" href="/compiled/css/styles.css/styles_79f3ef787aaf0ad2cf54400f9a170417.css" />
<!-- endbuild -->
        {% else %}
            <!-- dev:styles.css -->
<link rel="stylesheet" href="/tmp/css/styles.css/semantic_0.css" />
<!-- endbuild -->
        {% endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="ui grid centered">
<header class="ui ten wide column">
    {% block header %}
        <h1 class="ui header">Darkroom</h1>
    {% endblock %}
    {% include '_mainMenu.html.twig' %}
</header>

<section class="ui grid centered">
    <aside class="ui three wide column">
        {% block subnav %}{% endblock %}
    </aside>
    <article class="ui eleven wide column">
        {% block body %}{% endblock %}
    </article>
</section>


<footer>
    {% include '_footer.html.twig' %}
</footer>

{% block javascriptsFiles %}
    {% if app.environment == 'prod' %}
        <!-- prod:libs.js -->
<script src="/compiled/js/libs.js/libs_23851ee393a061c819f817adce0644ef.js"></script>
<!-- endbuild -->
    {% else %}
        <!-- dev:libs.js -->
<script src="/tmp/js/libs.js/jquery_0.js"></script>
<script src="/tmp/js/libs.js/semantic_1.js"></script>
<script src="/tmp/js/libs.js/router_2.js"></script>
<!-- endbuild -->
    {% endif %}
    <script src="/js/fos_js_routes.js"></script>
{% endblock %}
</body>
</html>
