<div class="ui vertical menu">
    <a class="item" href="{{ path('darkroom_app_chemistry_unitcategory_index') }}">Unit categories</a>
    <a class="item" href="{{ path('darkroom_app_chemistry_manufacturer_index') }}">Manufacturers</a>
</div>